@import url("zero.css");

/* Общий документ */
body{
    font-family: Montserrat;
}
.wrapper {
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}
.content {
    flex: 1 1 auto;
}

/* Первый фрейм */
.high {
    background-color: #8D5CF6;
    height: 825px;
}
.high-column {
    max-width: 966px;
    margin: 0px auto;
    display: flex;
    flex-direction: column;
}
.high-sidebar-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 19px;
}
.high-sidebar-brand {
    font-weight: bold;
    font-size: 24px;
    line-height: 32px;
    color: #FFFFFF;
}
.high-sidebar-menu {
    font-weight: bold;
    font-size: 14px;
    line-height: 32px;
    margin-right: 240px;
}
.high-sidebar-menu a:last-child {
    margin-right: 0;
}

.high-sidebar-menu-link{
    color:#FFFFFF;
    margin-right: 21px;
}
.high-sidebar-menu-link :last-child{
    margin-right: 0px;
}
.high-sidebar-join-link{
    font-weight: bold;
    font-size: 14px;
    line-height: 32px;
    color:#FFFFFF;
    margin-right: 45px;
}
.high-sidebar-join-button{
    padding: 15px 0px;
    padding-right: 25px;
    width: 137px;
    height: 52px;
    background: url(/images/arrow.png) 100px 21px no-repeat;
    background-color: #FF7B52;
    border-radius: 5px;
    font-weight: bold;
    font-size: 14px;
    line-height: 22px;
    color: #FFFFFF;
}
.high-text-column {
    margin-top: 229px;
    height: 392px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.high-text-high{
    font-weight: bold;
    font-size: 58px;
    line-height: 80px;
    color: #FFFFFF;
    text-align: center;
}
.high-text-every{
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    letter-spacing: 0.2px;
    color: #FFFFFF;
}
.high-text-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.high-text-button-1{
    background: #FF7B52;
    border-radius: 5px;
    align-items: center;
    padding: 15px 40px;
    margin-right: 10px;
    font-weight: bold;
    font-size: 14px;
    line-height: 22px;
    color: #FFFFFF;
}
.high-text-button-2{
    border: 1px solid #FF7B52;
    border-radius: 5px;
    width: 162px;
    height: 52px;
    background:  #8D5CF6;
    font-weight: bold;
    font-size: 14px;
    line-height: 22px;
    color: #FFFFFF;
}

/* Фрейм подвала */
.footer {
    padding: 25px 0px;
    background-color: #FAFAFA;
}
.footer-row {
    margin: 0px auto;
    max-width: 987px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.footer-text{
    color: #737373;
    font-weight: bold;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.2px
}
.footer-button-links {
    margin-right: 22px;
    
}
a:last-child {
    margin-right: 0;
}

/* Второй фрейм */
.our {
    background: #26335D; 
    height: 768px;   /* Высота мне тут тоже не нравится, может если поставить 100% он начнет растягиваться и допускать wrap блоков*/
}
.our-column {
    display: flex;
    flex-direction: column;
    max-width: 1050px;
    margin: 0px auto;
}
.our-text-column {
    margin-top: 112px;
    height: 134px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.our-text-practice {
    font-weight: bold;
    font-size: 14px;
    line-height: 24px;
    color: #8D5CF6;
    letter-spacing: 0.2px;
}
.our-text-our {
    font-weight: bold;
    font-size: 40px;
    line-height: 50px;
    letter-spacing: 0.2px;
    color: #FFFFFF;
}
.our-text-problems {
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    color: #FFFFFF;
    letter-spacing: 0.2px;
}
.our-info-row {
    margin-top: 70px;
    height: 340px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.our-info{
    min-width: 200px;  /* не понимаю пока с широтами и высотами, как-то туговато */
    background: #FFFFFF;
    padding-top: 35px;
    padding-left: 40px;
    margin-right: 40px;    /* Не нравится мне тут марджинка:((, а контент не работает */
}
.our-info div:last-child{
    margin: 0;
}
.books {
    margin-bottom: 48px;   /* Можно реализовать через align-self, хотя все равно скорее всего придется использовать margin, посоветоваться */
    
}
.certified {
    margin-top: 48px;     /* Можно реализовать через align-self */
}
.training {
    background: #8D5CF6;
    margin-bottom: 48px;  /* Можно реализовать через align-self */
}
.online {
    margin-top: 48px;     /* Можно реализовать через align-self */
}
.our-info-heading {
    margin: 20px 0;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.1px;
}
.our-info-text {
    margin-top: 10px;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.2px;
}
.an-color{
    color: #FFFFFF;
}