@import url("zero.css");

/* Общий документ */
body{
    font-family: Montserrat;
}
.wrapper {
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}
.content {
    flex: 1 1 auto;
}

/* Первый фрейм */
.high {
    background-color: #8D5CF6;
    height: 825px;
}
.high-column {
    max-width: 966px;
    margin: 0px auto;
    display: flex;
    flex-direction: column;
}
.high-sidebar-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 19px;
}
.high-sidebar-brand {
    font-weight: bold;
    font-size: 24px;
    line-height: 32px;
    color: #FFFFFF;
}
.high-sidebar-menu {
    font-weight: bold;
    font-size: 14px;
    line-height: 32px;
    margin-right: 240px;
}
.high-sidebar-menu a:last-child {
    margin-right: 0;
}

.high-sidebar-menu-link{
    color:#FFFFFF;
    margin-right: 21px;
}
.high-sidebar-menu-link :last-child{
    margin-right: 0px;
}
.high-sidebar-join-link{
    font-weight: bold;
    font-size: 14px;
    line-height: 32px;
    color:#FFFFFF;
    margin-right: 45px;
}
.high-sidebar-join-button{
    padding: 15px 0px;
    padding-right: 25px;
    width: 137px;
    height: 52px;
    background: url(../images/arrow.png) 100px 21px no-repeat;
    background-color: #FF7B52;
    border-radius: 5px;
    font-weight: bold;
    font-size: 14px;
    line-height: 22px;
    color: #FFFFFF;
}
.high-text-column {
    margin-top: 229px;
    height: 392px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.high-text-high{
    font-weight: bold;
    font-size: 58px;
    line-height: 80px;
    color: #FFFFFF;
    text-align: center;
}
.high-text-every{
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    letter-spacing: 0.2px;
    color: #FFFFFF;
}
.high-text-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.high-text-button-1{
    background: #FF7B52;
    border-radius: 5px;
    align-items: center;
    padding: 15px 40px;
    margin-right: 10px;
    font-weight: bold;
    font-size: 14px;
    line-height: 22px;
    color: #FFFFFF;
}
.high-text-button-2{
    border: 1px solid #FF7B52;
    border-radius: 5px;
    width: 162px;
    height: 52px;
    background:  #8D5CF6;
    font-weight: bold;
    font-size: 14px;
    line-height: 22px;
    color: #FFFFFF;
}

/* Фрейм подвала */
.footer {
    padding: 25px 0px;
    background-color: #FAFAFA;
}
.footer-row {
    margin: 0px auto;
    max-width: 987px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.footer-text{
    color: #737373;
    font-weight: bold;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.2px
}
.footer-button-links {
    margin-right: 22px;
    
}
a:last-child {
    margin-right: 0;
}

/* Второй фрейм */
.our {
    background: #26335D; 
    height: 768px;   /* Высота мне тут тоже не нравится, может если поставить 100% он начнет растягиваться и допускать wrap блоков*/
}
.our-column {
    display: flex;
    flex-direction: column;
    max-width: 1050px;
    margin: 0px auto;
    overflow: hidden;
}
.our-text-column {
    margin-top: 112px;
    height: 134px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.our-text-practice {
    font-weight: bold;
    font-size: 14px;
    line-height: 24px;
    color: #8D5CF6;
    letter-spacing: 0.2px;
}
.our-text-our {
    font-weight: bold;
    font-size: 40px;
    line-height: 50px;
    letter-spacing: 0.2px;
    color: #FFFFFF;
}
.our-text-problems {
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    color: #FFFFFF;
    letter-spacing: 0.2px;
}
.our-info-row {
    margin-top: 70px;
    height: 340px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.our-info{
    min-width: 190px;  /* не понимаю пока с широтами и высотами, как-то туговато */
    background: #FFFFFF;
    padding-top: 35px;
    padding-left: 40px;
    margin-right: 40px;    /* Не нравится мне тут марджинка:((, а контент не работает */
}
.our-info div:last-child{
    margin: 0;
}
.books {
    margin-bottom: 48px;   /* Можно реализовать через align-self, хотя все равно скорее всего придется использовать margin, посоветоваться */
    
}
.certified {
    margin-top: 48px;     /* Можно реализовать через align-self */
}
.training {
    background: #8D5CF6;
    margin-bottom: 48px;  /* Можно реализовать через align-self */
}
.online {
    margin-top: 48px;     /* Можно реализовать через align-self */
}
.our-info-heading {
    margin: 20px 0;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.1px;
    color: #252B42;
}
.our-info-text {
    margin-top: 10px;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.2px;
    color: #737373;
}
.an-color{
    color: #FFFFFF;
}
/* Третий фрейм */
.get {
    background: #26335D; 
    height: 1096px;
}
.get-column {
    display: flex;
    flex-direction: column;
    max-width: 1050px;
    margin: 0px auto;
    overflow: hidden;
}
.get-text-column {
    margin-top: 112px;
    height: 134px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.get-choise-row {
    margin-top: 70px;
    height: 602px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.get-choise-object-column {
    min-width: 238px;
    background: #FFFFFF;
    margin-right: 30px;
}
.get-choise-object-picture {
    height: 300px;
    background-image: url("../images/books.png");
    display: flex;
    flex-direction: column;
}
.get-choise-object-picture-sale {
    margin: 20px 20px;
    border-radius: 3px;
    max-width: 51px;
}
.get-choise-object-picture-actions {
    margin-top: 172px;
    display: flex;
    flex-direction: row;
    width: 140px;
    justify-content: space-between;
    margin-left: 49px;
}
.get-choise-object-text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 25px 25px;
    height: 253px;
}
.get-choise-object-text-welcome {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 182px;
}
.get-choise-object-text-books {
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.1px;
    color: #252B42;
}
.get-choise-object-text-me {
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.2px;
    color: #737373;
}
.get-choise-object-text-sales {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 83px;
}
.get-choise-object-text-price {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 108px;
}
.get-choise-object-text-price-old {
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.1px;
    color: #BDBDBD;
}
.get-choise-object-text-price-new {
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.1px;
    color: #FF7B52;
}
.get-choise-object-text-button {
    display: flex;
    flex-direction: row;
    padding: 10px 0;
    padding-left: 20px;
    width: 141.14px;
    border: 1px solid #8D5CF6;
    border-radius: 37px;
    height: 30px;
    background: url(../images/arrow3frame.png) 120px 18px no-repeat;
}
.get-choise-object-text-button-text {
    font-weight: bold;
    font-size: 14px;
    line-height: 24px;
    color: #8D5CF6;
    letter-spacing: 0.2px;
    background-color: #FFFFFF;
}
.get-choise-object-picture-3 {
    height: 300px;
    background-image: url("../images/pen.png");
    display: flex;
    flex-direction: column;
}
.get-choise-object-picture-4 {
    height: 300px;
    background-image: url("../images/work.png");
    display: flex;
    flex-direction: column;
}
.get-choise-object-picture-2 {
    height: 300px;
    background-image: url("../images/school.png");
    display: flex;
    flex-direction: column;
}

/* Четвертый фрейм */
.girl {
    height: 805px;
    background: #26335D;
}
.girl-row {
    max-width: 1050px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0px auto;
    overflow: hidden;
}
.girl-text-column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-height: 296px;
}
.girl-text-img{
    width: 94px;
}
.girl-text-heading {
    font-weight: bold;
    font-size: 40px;
    line-height: 50px;
    letter-spacing: 0.2px;
    color: #FFFFFF;
}
.girl-text-text {
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.2px;
    color: #FFFFFF;
}
.girl-text-button {
    font-weight: bold;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.2px;
    color: #8D5CF6;
    width: 120px;
    margin-left: -17px;
    background: url(../images/arrow3frame.png) 110px no-repeat;
}

/* Пятый фрейм */
.every {
    height: 676px;
    background: #26335D;
}
.every-row {
    max-width: 1050px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0px auto;
    overflow: hidden;
    align-items: center;
}
.every-text-column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 296px;
}
.every-video {
    max-width: 508px;
    max-height: 363px;
}

/* Шестой фрейм */
.most {
    background: #26335D;
    height: 989px;
}
.most-column {
    display: flex;
    flex-direction: column;  /* Только на шестом фрейме я поняла, что марджинки между двумя основными блоками можно заменить justify-content: space-around. Можно реализовать позже, так как для сокращения ксс классы у меня связаны */
    max-width: 1050px;
    margin: 0px auto;
    overflow: hidden;
}
.most-recom-row {
    margin-top: 96px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.most-recom-column {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 508px;
    background: #FFFFFF;
    height: 378px;
    align-items: center;
}
.most-recom-img{
    border-radius: 200px;
}
.most-recom-text {
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.2px;
    color: #737373;
    text-align: center;
}
.most-recom-name {
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.1px;
    color: #252B42;
}
.most-recom-prof {
    font-weight: bold;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.2px;
    color: #737373;
}

/* Седьмой фрейм */
.teacher {
    background: #26335D;
    height: 849px;
}
.teacher-column {
    display: flex;
    flex-direction: column;
    max-width: 1050px;
    margin: 0px auto;
    overflow: hidden;
}
.teacher-descriprion-row {
    height: 375px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 112px;
}
.teacher-description-column {
    display: flex;
    height: 375px;
    width: 238px;
    flex-direction: column;
    border-radius: 20px;
    background: #FFFFFF;
}
.teacher-description-img {
    background-image: url(../images/teacher-1.png);
    height: 231px;
    border-radius: 20px;
}
.teacher-description-text {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 144px;
    align-items: center;
}
.teacher-description-text-social-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 112px;
    margin-bottom: 15px;
}